/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

nav {
  background-color: #ff6600; /* Narıncı rəng */
  color: #fff; /* Ağ rəng */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff; /* Ağ rəng */
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background-color: #de8f67; /* Tünd narıncı rəng */
}

header {
  background-color: #333; /* Qara rəng */
  color: #fff; /* Ağ rəng */
  padding: 2rem;
  text-align: center;
}

header p {
  max-width: 800px;
  margin: 1rem auto;
  color: #ebdc08; /* Narıncı rəng */
  font-weight: 600;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content p {
  max-width: 45%;
}

.content img {
  max-width: 200px;
  margin-left: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact .content,
#foundation .content {
  justify-content: space-around;
}

#contact .content img,
#foundation .content img {
  margin-left: 0;
}
#foundation img {
  width: 300px;
}

.thankyou {
  text-align: center;
  margin-top: 2rem;
}

.thankyou img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thankyou p {
  margin-top: 1rem;
  color: red;
  font-size: large;
  font-weight: 600;
}

footer {
  background-color: #333; /* Qara rəng */
  color: #fff; /* Ağ rəng */
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.signature {
  text-align: right;
  margin-top: 1rem;
  font-style: italic;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
}

#back-to-top.show {
  display: block;
}

.menu-toggle {
  display: none;
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .content {
    flex-direction: column;
    text-align: center;
  }

  .content img {
    margin-left: 0;
    margin-top: 1rem;
  }
}
